<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="Title" value="Here the TITLE"/>
		<add key="LogFilename" value="WindowsFormAppTemplate.log"/>
		<add key="DatabaseServer" value="localhost"/>
		<add key="DatabasePort" value="3306"/>
		<add key="DatabaseName" value="mysqldemo"/>
		<add key="DatabaseUser" value="demo"/>
		<add key="DatabasePassword" value="demo"/>
	</appSettings>
</configuration>